:root {
    /* Colors */
    --primary-color-darker: #586994;
    --primary-color: #7D869C;
    --primary-background-color: #d3d8e5;

    --secondary-color-darker: #B4C4AE;
    --secondary-color: #E5E8B6;
    --secondary-color-darker2: #67815e; 

    --accent-color: white;
}

/* html Elements */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    color: var(--primary-color-darker);
    background-color: var(--primary-color-darker);
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5rem;
}
p.paragraph {
    font-size: 1.5rem;
    padding: 3rem;
}
section{
    height: 20rem;
    margin-bottom: 15rem;
}

/* styles by class */
.nav-link {
    color: var(--primary-color-darker);
    margin-left: 2rem;
}
.nav-link:hover, .nav-link:active {
    color: var(--secondary-color-darker2);
}
.spacer {
    height: 10rem;
}
.image {
    height: 30rem;
}
.container-fluid.gradient {
    margin: 0;
    background: rgb(88,105,148);
    background: linear-gradient(0deg, rgba(88,105,148,1) 0%, rgba(255,255,255,1) 100%);
    width: 100%;
}
.profile-link {
    text-decoration: none;
}

/* styles by id */

#about-me {
    margin-top: 5rem;
    
}
#projects {
    color: var(--primary-background-color);
    margin-bottom: 5rem;
}
#profiles {
    color: var(--primary-background-color);
}
#freecodecamp:hover {
    color: rgb(44, 141, 46);
}

#github:hover {
    color: rgb(106, 7, 168);
}
#contact-info {
    color: var(--primary-background-color);
    background-color: var(--primary-color-darker);
    border-radius: 1rem;
}


/* styles by style */
.light-txt {
    color: var(--primary-background-color);
}
.smaller-txt {
    font-size: 1.5rem;
}